.footer_top__item {
    border-left: 1px solid #df7070;
    padding-bottom: 16px;
}

.footer_top__item:first-child {
    border-left: 0px;
}

.footer_top__item a {
    padding-bottom: 8px;
}

.footer_top {
    border-left: 1px solid rgb(195, 83, 71);
    padding-top: 16px;
    background-color: #ad180d;
}

.footer_top__title {
    padding-top: 16px;
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    padding-bottom: 16px;
}

.footer_top__sub {
    padding-bottom: 12px;
    padding-left: 15px;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
}

.footer_top__sub a {
    display: block;
    color: white;
}

/* end footer top */
.footer__bottom {
    background-color: #7b1b0e;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    width: 100%;
    background: #7b1b0e;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-family: roboto;
    font-size: 13px;
}

.footer__bottom_title, .footer__bottom_sub {
    padding-top: 4px;
}

.footer__bottom_sub {}

.footer__bottom_sub a {
    font-size: 14px;
    color: white;
    padding-right: 20px;
}

.footer__bottom_end {
    padding-top: 8px;
    ;
}

.footer_animals {
    left: -8px;
}